
<section class="articles-section">
    <div class="container">
        <a routerLink="create-article" class="section-create-blog">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
        <div class="section-header">
            <h2>Latest Articles</h2>
        </div>
        <div class="article-list">
            <article *ngFor="let article of articles">
                <div class="article-header">
                    <p>{{article.title}}</p>
                </div>
                <div class="article-description">
                    <p>{{article.content}}</p>
                </div>
                <div class="article-footer">
                    <p>{{article.created_at | date:'fullDate'}} at {{article.created_at | date: 'shortTime'}}</p>
                </div>
            </article>
        </div>
    </div>
    <div class="more-button">
        <button (click) = 'moreArticles()'>More</button>
    </div>
</section>
