
<section class="articles-section">
    <div class="container">
        <a routerLink="create-article" class="section-create-blog">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
        <div class="section-header">
            <h2>Latest Articles</h2>
        </div>
        <div class="article-list">
            <article>
                <div class="article-header">
                    <p>How to end this? How to end this? How to end this? How to end this? How to end this? How to end this? How to end this? How to end this?How to end this? How to end this? How to end this? How to end this?</p>
                </div>
                <div class="article-description">
                    <p>
                        I have this problem for a week, How to fix this? I have this problem for a week, How to fix this? I have this problem for a week, How to fix this?
                        I have this problem for a week, How to fix this? I have this problem for a week, How to fix this? I I have this problem for a week, How to fix this? I have this problem for a week, How to fix this? I 
                    </p>
                </div>
                <div class="article-footer">
                    
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            <article>
                <div class="article-header">
                    <p>How to end this?</p>
                </div>
                <div class="article-description">
                    <p>I have this problem for a week, How to fix this?</p>
                </div>
                <div class="article-footer">
                    <a href="">Read</a>
                </div>
            </article>
            
            
            
            
            
            
            
        </div>
    </div>
</section>
