<div class="blog-container" *ngIf="article">
    <div class="blog-card">
    <h1 class="blog-title">{{ article.title }}</h1>
    <p class="blog-date">{{ article.created_at | date:'fullDate' }} at {{ article.created_at | date:'shortTime' }}</p>
    
    <div class="blog-content">
        <p>{{ article.content }}</p>
    </div>

    <div class="blog-footer">
        <p class="author-name">Written by {{author}}</p>
        <div class="option">
            <i class="fa-solid fa-comments" (click)="turnOnComment()"></i>
            <i class="fa-solid fa-star"></i>
        </div>
    </div>
    
    </div>
</div>

<div class="not-found" *ngIf="!article">
    <p>Article not found.</p>
</div>

<section class="comment-section" *ngIf="isCommentSectionOn">
    <div class="wrap-container">
        <div class="comment-container" *ngFor="let comment of comments">
            <div class="comment-author">
                <p>{{comment.username}}</p>
            </div>
            <div class="comment-content">
                <p>{{comment.content}}</p>
            </div>
            <div class="comment-footer">
                <p>{{comment.created_at | date: 'fullDate'}} at {{comment.created_at | date: 'shortTime'}}</p>
            </div>
        </div>
    </div>
    <div class="not-found" *ngIf="isCommentSectionOn && (!comments || comments.length === 0)">
        <p>Don't have any comment here!</p>
    </div>
</section>
<div class="more-button" *ngIf="isCommentSectionOn">
    <button (click)="nextComment()" [hidden]="currentPage >= totalPage">More</button>
</div>
<div class="comment-input" *ngIf="isCommentSectionOn">
    <textarea placeholder="Let's comment here!" [(ngModel)]="newComment"></textarea>
</div>
<div class="comment-button" *ngIf="isCommentSectionOn">
    <button (click)="postNewComment()">Comment!!</button>
</div>
