<div class="container">
    
    <div class="form">
    <div class="header">
        <h1>📝 Tell the World Your Thoughts</h1>
    </div>

    <div class="input-box">
        <p>🖋️ Title</p>
        <input [(ngModel)]="title" type="text" placeholder="Type your Title here! ✍️">
    </div>

    <div class="content-box">
        <p>📄 Content</p>
        <textarea [(ngModel)]="content" placeholder="Write something meaningful... 💬"></textarea>
    </div>

    <div class="button-box">
        <button (click)="createBlog()">🚀 Create</button>
    </div>
    </div>

</div>
